/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Element Selectors */
body {
  background-color: #d9dcd6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: #2a607c;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
}

h1 {
  display: inline-block;
  font-size: 48px;
}

nav {
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-right: 20px;
  padding-top: 15px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Changed footer's heading to h4 from h2 to differentiate it from the content's h2 */
h4 {
  font-size: 20px;
}

footer {
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 30px;
  text-align: center;
}

/* Class Selectors */
.seo {
  color: #d9dcd6;
}

.hero {
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
  margin-bottom: 25px;
  width: 100%;
}

.content {
  display: inline-block;
  margin-left: 20px;
  width: 75%;
}

.float-left {
  float: left;
  margin-right: 25px;
  max-height: 200px;
}

.float-right {
  float: right;
  margin-left: 25px;
  max-height: 200px;
}

.benefits {
  background-color: #2589bd;
  clear: both;
  float: right;
  height: 100%;
  margin-right: 20px;
  padding: 20px;
  width: 20%;
}

/* CONTENT SECTIONS */
.content section {
  background-color: #0072bb;
  color: #ffffff;
  height: 300px;
  margin-bottom: 20px;
  padding: 50px;
}

/* BENEFITS SECTIONS */
.benefits section {
  color: #ffffff;
  margin-bottom: 32px;
}

.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
